<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("./partials/head"); %>
  </head>

  <body>
    <%-include("./partials/header"); %>
    <!-- Services Start -->
    <div class="services main-container" id="services">
      <div class="container">
        <header class="section-header">
          <h3>My Services</h3>
          <p></p>
        </header>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="single-service">
              <div class="service-icon">
                <i class="fa-brands fa-html5"></i>
              </div>
              <h4><a href="#">HTML</a></h4>
              <p></p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="single-service">
              <div class="service-icon">
                <i class="fa-brands fa-css3-alt"></i>
              </div>
              <h4><a href="#">CSS</a></h4>
              <p></p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="single-service">
              <div class="service-icon">
                <i class="fa-brands fa-square-js"></i>
              </div>
              <h4><a href="#">Javascript</a></h4>
              <p></p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="single-service">
              <div class="service-icon"><i class="fa-brands fa-node"></i></div>
              <h4><a href="#">Node</a></h4>
              <p></p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="single-service">
              <div class="service-icon">
                <i class="fa-brands fa-python"></i>
              </div>
              <h4><a href="#">Python</a></h4>
              <p></p>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="single-service">
              <div class="service-icon"><i class="fa-brands fa-java"></i></div>
              <h4><a href="#">Java</a></h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Services End -->
    <%-include("./partials/footer"); %>
  </body>
</html>
