<!-- Footer Start -->
<div class="footer">
  <div class="container">
    <div class="copyright">
      <p>
        &copy; Copyright
        <a href="https://nayeonshim.herokuapp.com/">nayeon shim</a>
      </p>
      <p>Powered by <a href="https://htmlcodex.com">HTML Codex</a></p>
    </div>
  </div>
</div>
<!-- Footer end -->
