<meta charset="utf-8" />
<title>Software Developer Nayeon - Portfolio</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="Nayeon" name="author" />
<meta content="My portfolio" name="description" />

<!-- icon -->
<script
  src="https://kit.fontawesome.com/cd1dc4a77b.js"
  crossorigin="anonymous"
></script>

<!-- Google Fonts -->

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ramabhadra&display=swap"
  rel="stylesheet"
/>

<!-- CSS Libraries -->
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<!-- Template Stylesheet -->
<link href="css/style.css" rel="stylesheet" />
