<!-- Nav Start -->
<div class="header" id="nav">
  <div class="container">
    <div class="logo pull-left">
        <a href="/"><img src="img/logoBWC.png" alt="logoImg" height="60px" width="80px"></img></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if(isAuth) { %>
          <li><a href="/business">Business Contact</a></li>
          <li><a href="/signoff">Sign Off</a></li>
        <% } else { %>
          <li><a href="/signin">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</div>
<!-- Nav End -->
